header {
    text-align: center;
    background-color: #331832;
    padding: 4px;
    color: #f9f9f9;
    margin-bottom: 32px;
}

body {
    background-color: #F7F6F1;
}

.elementoBar {
    width: 140px;
    height: 40px; /* Altura padrão dos botões */
    text-align: center;
    margin-right: 10px;
    display: inline-block; 
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px #ccc;
}

/* Estilo ao passar o mouse sobre os botões */
.elementoBar:hover {
    background-color: #918FA9; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o botão selecionado */
.elementoBar.selecionado {
    background-color: #B2B1CF; /* Cor de fundo quando selecionado */
}

/* Estilo para o texto dentro dos botões */
.elementoBar p {
    color: #000;
    margin: 0;
    line-height: 40px; /* Centraliza o texto verticalmente */
}

#barra {
    width: 310px;
    color: black;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

#boxInserir {
    width: 416px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: #f9f9f9;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 8px;
}

#textoInserir {
    margin-top: 8px;
    width: 410px;
    border-radius: 4px;
    word-break: break-all;
}

#botaoInserir {
    margin-top: 8px;
    border-radius: 4px;
}

.itemTarefas {
    display: flex;
}

.feito {
    transform: scale(1.5);
}

.textoTarefa {
    margin: 0px 12px;
    width: 344px;
}

.lixo {
    height: 12px;
    padding-top: 3px;
}

li {
    list-style: none;
}

ul {
    width: 416px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: #f9f9f9;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
}

button:hover, .feito:hover{
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #331832;
    color: #f9f9f9;
    margin-top: 24px;
}