header {
    text-align: center;
    background-color: #331832;
    padding: 4px;
    color: #f9f9f9;
    margin-bottom: 32px;
}

body {
    background-color: #F7F6F1;
}

.elementoBar {
    margin-left: 10px; 
    margin-right: 10px;
    padding: 8px 24px;
    display: inline-block; 
    font-size: 24px;
    border-radius: 4px;
}

#barra {
    border-bottom: solid 1px #000;
    width: 444px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

#boxInserir {
    width: 416px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: #f9f9f9;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 8px;
}

#textoInserir {
    margin-top: 8px;
    width: 410px;
    border-radius: 4px;
    word-break: break-all;
}

#botaoInserir {
    margin-top: 8px;
    border-radius: 4px;
}

.itemTarefas {
    display: flex;
}

.feito {
    transform: scale(1.5);
}

.textoTarefa {
    margin: 0px 12px;
    width: 344px;
}

.lixo {
    height: 12px;
    padding-top: 3px;
}

li {
    list-style: none;
}

ul {
    width: 416px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: #f9f9f9;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
}

button:hover, .feito:hover {
    cursor: pointer;
}

#elemEspecifico {
    background-color: #B2B1CF;
}

a {
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #331832;
    color: #f9f9f9;
    margin-top: 24px;
}